.header{
    height: 100px;
    width: 100%;
    background-image: linear-gradient(#0388fc, #7dc0fa, #f7f9fa);
}

.text{
    margin-left: 20px;
    font-size: 100px;
    font-family: 'Anton', sans-serif;
    background: linear-gradient(#f7f9fa, #7dc0fa, #0388fc);-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
